body
{
    margin: 0;
    padding: 0;
    background: url(download.jpg);
    background-size: cover;
    font-family: times-new-roman;
    font-size:25px;
    color: lightgray;    
    
}
.signin-box
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:470px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.login-box
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:350px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}
.image
{
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow:hidden;
    position :absolute;
    top :calc(-100px/2);
    left :calc(35%);

}
.form-control
{
padding:inherit;
}
body .form-group
{ 
    padding:10px 2px 1 25px;
}
button
{
    width:100px;
    height:30px;
}
